<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>LiveActivityManager.scheduleActivityEndRequest</string>
	</array>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>Potrzebujemy dostępu do kalendarza, żeby wyświetlać pogodę dla Twoich nadchodzących wydarzeń.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
</dict>
</plist>
