<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6YBPOE-IYBAlGGaM7hq0VgyBuA9FLMRk</string>
	<key>GCM_SENDER_ID</key>
	<string>676988386570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.siwiec.jakub.FourCast-Weather</string>
	<key>PROJECT_ID</key>
	<string>fourcast-c794a</string>
	<key>STORAGE_BUCKET</key>
	<string>fourcast-c794a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:676988386570:ios:5b216f8c0fe1ba7f698ef3</string>
</dict>
</plist>